In [1]:
connection_string = "mongodb+srv://rohitmukati:rohit12345@cluster0.c5g1aoh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("EasyVisa.csv")

In [4]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

## Converting CSV to dict format

In [6]:
data = df.to_dict(orient='records')

In [7]:
len(data)

25480

In [8]:
data[0]

{'case_id': 'EZYV01',
 'continent': 'Asia',
 'education_of_employee': 'High School',
 'has_job_experience': 'N',
 'requires_job_training': 'N',
 'no_of_employees': 14513,
 'yr_of_estab': 2007,
 'region_of_employment': 'West',
 'prevailing_wage': 592.2029,
 'unit_of_wage': 'Hour',
 'full_time_position': 'Y',
 'case_status': 'Denied'}

## Storing data to mongo DB

In [9]:
DB_NAME = "Us_Visa"
COLLECTION_NAME = "Visa_Database"
CONNECTION_URL = connection_string

In [10]:
import pymongo
client = pymongo.MongoClient(CONNECTION_URL)
db = client[DB_NAME]
collection = db[COLLECTION_NAME]
collection.insert_many(data)
print(f"Data inserted successfully into {COLLECTION_NAME} collection in {DB_NAME} database.")

Data inserted successfully into Visa_Database collection in Us_Visa database.

In [11]:
data = collection.find()
data

In [12]:
for i, j in enumerate(data):
    print(i, j)
    if i == 10:  # Display only the first 10 records
        break

0 {'_id': ObjectId('68495e0facf5f1baaccad8b0'), 'case_id': 'EZYV22', 'continent': 'North America', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 1706, 'yr_of_estab': 2013, 'region_of_employment': 'Midwest', 'prevailing_wage': 137694.98, 'unit_of_wage': 'Year', 'full_time_position': 'N', 'case_status': 'Certified'}
1 {'_id': ObjectId('68495e0facf5f1baaccad8b1'), 'case_id': 'EZYV23', 'continent': 'Asia', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2878, 'yr_of_estab': 1968, 'region_of_employment': 'West', 'prevailing_wage': 45642.39, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
2 {'_id': ObjectId('68495e0facf5f1baaccad8b6'), 'case_id': 'EZYV28', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'Y', 'requires_job_training': 'Y', 'no_of_employees': 2889, 'yr_of_estab': 2005, 'region_of_employment': 'South', 'prevailing_wage': 103029.33, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
3 {'_id': ObjectId('68495e0facf5f1baaccad8c0'), 'case_id': 'EZYV38', 'continent': 'Europe', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'Y', 'no_of_employees': 44, 'yr_of_estab': 1965, 'region_of_employment': 'South', 'prevailing_wage': 110817.26, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
4 {'_id': ObjectId('68495e0facf5f1baaccad8d2'), 'case_id': 'EZYV56', 'continent': 'Asia', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2368, 'yr_of_estab': 1998, 'region_of_employment': 'Northeast', 'prevailing_wage': 113799.64, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
5 {'_id': ObjectId('68495e0facf5f1baaccad8da'), 'case_id': 'EZYV64', 'continent': 'Europe', 'education_of_employee': "Bachelor's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 1316, 'yr_of_estab': 1995, 'region_of_employment': 'South', 'prevailing_wage': 62591.57, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
6 {'_id': ObjectId('68495e0facf5f1baaccad8df'), 'case_id': 'EZYV69', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'Y', 'requires_job_training': 'Y', 'no_of_employees': 2654, 'yr_of_estab': 2013, 'region_of_employment': 'Midwest', 'prevailing_wage': 153019.94, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
7 {'_id': ObjectId('68495e0facf5f1baaccad8ea'), 'case_id': 'EZYV80', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'N', 'requires_job_training': 'Y', 'no_of_employees': 1062, 'yr_of_estab': 1998, 'region_of_employment': 'West', 'prevailing_wage': 194176.83, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
8 {'_id': ObjectId('68495e0facf5f1baaccad8ed'), 'case_id': 'EZYV83', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 39, 'yr_of_estab': 2000, 'region_of_employment': 'West', 'prevailing_wage': 70778.82, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
9 {'_id': ObjectId('68495e0facf5f1baaccad8ee'), 'case_id': 'EZYV84', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2359, 'yr_of_estab': 2007, 'region_of_employment': 'Northeast', 'prevailing_wage': 84125.48, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
10 {'_id': ObjectId('68495e0facf5f1baaccad8f2'), 'case_id': 'EZYV88', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 4455, 'yr_of_estab': 1998, 'region_of_employment': 'West', 'prevailing_wage': 113327.34, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}